@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active-link {
} */

*,
html {
  scroll-behavior: smooth !important;
}
.active-link .wrapper {
  padding-left: 40px;
  padding-right: 20px;
  color: #111111;
}
.active-link .text {
  width: 100%;
}
